body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: blanchedalmond !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h2,
h5 {
    color: salmon !important;
    margin-top: 2px !important;
}

button {
    border-radius: 2px !;
}

@media only screen and (min-width: 576px) {
    .margin-minus20 {
        margin-left: -20px !important;
    }
}

@media only screen and (max-width: 575px) {
    .text-center-onsmallscreen {
        text-align: center !important;
        margin-left: 5px !important;
    }
}